<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br>
      <br>
      <ul class="list-group">

        <div *ngIf="onlyOdd">
          <li *ngFor="let neparni of odd" 
          [ngClass]="{odd: neparni % 2 !== 0}"
          [ngStyle]="{background: neparni % 2 !==0 ? 'yellow' : 'red'}"
          class="list-group-item">
            {{neparni}}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
            <li *ngFor="let parni of even" 
            [ngClass]="{odd: parni % 2 !== 0}"
            [ngStyle]="{background: parni % 2 !==0 ? 'yellow' : 'red'}"
            class="list-group-item">
              {{parni}} 
            </li>
          </div> -->

          <div *appUnless="onlyOdd">
            <li *ngFor="let parni of even" 
            [ngClass]="{odd: parni % 2 !== 0}"
            [ngStyle]="{background: parni % 2 !==0 ? 'yellow' : 'red'}"
            class="list-group-item">
              {{parni}} 
            </li>
          </div>

          <div [ngSwitch]="value">
          <p *ngSwitchCase="1">
          Welju iz 1
          </p>
          <p *ngSwitchCase="2">
          Welju iz 2
          </p>
          <p *ngSwitchCase="2">
            Welju iz 5
            </p>
          <p *ngSwitchDefault>
          Welju iz 10
          </p>
        
            
          </div>

      </ul>
      <ng-template [ngIf]="onlyOdd"> 
        <p>Only odd</p>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
          <p>Only even</p>
        </ng-template>
        <p basicDirective>Op op op</p>
        <p appBetterDirective [defaultColor]="'yellow'" [highlightColor]="'red'">Op op op</p>
    </div>
  </div>
</div>